/* Define la fuente personalizada */
@font-face {
    font-family: 'KG Lego House';
    src: url('fonts/KGLegoHouse.woff2') format('woff2'),
         url('fonts/KGLegoHouse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Aplica la fuente personalizada al cuerpo de la página */
body {
    font-family: 'KG Lego House', sans-serif;
    color: #fff; /* Color blanco para el texto */
    background-color: #000; /* Fondo negro para la página */
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #000; /* Fondo negro */
    padding: 10px 20px; /* Espaciado superior e inferior, y margen a los lados */
    border-bottom: 2px solid #f00; /* Línea de separación en rojo debajo del encabezado */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta el espacio entre el logo y los botones de navegación */
}

.logo {
    height: 50px; /* Ajusta el tamaño del logo si es necesario */
}

.nav-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-buttons li {
    display: inline;
    margin-right: 10px;
}

.nav-buttons a {
    color: #f00; /* Color rojo para los enlaces en el menú */
    text-decoration: none;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #000; /* Fondo negro */
    padding: 10px;
    border-top: 2px solid #f00; /* Línea de separación en rojo arriba del pie de página */
}

.social-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-buttons li {
    display: inline;
    margin-right: 10px;
}

.social-buttons img {
    height: 30px; /* Ajusta el tamaño de los íconos sociales si es necesario */
}
