/* Cargar fuentes personalizadas */
@font-face {
    font-family: 'KG Lego House';
    src: url('fonts/KGLegoHouse.woff2') format('woff2'),
         url('fonts/KGLegoHouse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Alineación de logo y botones */
.logo {
    float: left;
}

.nav-buttons {
    float: right;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-buttons li {
    display: inline;
}

.nav-buttons a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;
}

/* Estilos generales */
body {
    background-color: black;
    color: white;
    font-family: 'KG Lego House', sans-serif;
}

footer {
    margin-top: 50px;
}

/* Estilos de botones de redes sociales */
.social-buttons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-buttons a {
    text-decoration: none;
    color: red;
    font-size: 0.9em; /* Tamaño reducido */
    padding: 5px 10px;
    border: 1px solid red; /* Sin bordes circulares */
    border-radius: 0;
}
